
#loginDiv {
  display: block;
}

#registerDiv {
  display: none;
}

#propertiesDiv {
  display: none;
}

#propertyFormDiv {
  display: none;
}

#activityFormDiv {
  display: none;
}

#result {
  height: 60ex;
  width: 90%;
  margin: 0 auto;
}

.status {
  max-height: 40px;
  max-width: 40px;
  padding: 15px;
  margin: 0 auto;
}

.login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.register {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.properties {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.listActivities {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.listOneActivity {
  display: none;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

#updateActivity {
  display: block;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.deleteActivity {
  display: none;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.listProperties {
  display: none;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.listOneProperty {
  display: none;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.addProperty {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.addActivity {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.deleteProperty {
  display: none;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.bs-example {
      margin: 20px;
}
