
#loginDiv {
  display: block;
}

#registerDiv {
  display: none;
}

#propertiesDiv {
  display: none;
}

.login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.register {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.properties {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.listBooks {
  display: none;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

